* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    outline: none;
  }

  .ge2{
    width: 250px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .resume {
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .resume > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #4b4b4b;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: #fea100;
  }
  
  
  .newItem {
    display: flex;
    gap: 1vw;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.788); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #e4e4e4;
    margin: auto;
    padding: 20px;
    border: 3px solid #fea100;
    width: 75%;
  }
  
  .close {
    color: #b90101;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #070707;
    transition: 1.5s;
    text-decoration: none;
    cursor: pointer;
  }
  
  input{
    width: 100%;
    padding-left: 1.4%;
  }
  
  textarea{
    padding-left: 1rem;
    margin-right: 100%;
    width: 100%;
  }
  
  .divDesc,
  .div11,
  .divValor,
  .divType,
  .divAmount {
    display: flex;
    flex-direction: column;
  }
  
  .newItem > button {
    background-color: #fea100;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px #4b4b4b;
    border: none;
    padding: 0 15px;
    border-radius: 9px;
    cursor: pointer;
    height: 5vh;
    margin-top: 1.5vh;
  }
  
  .newItem > button:hover {
    background-color: rgb(13, 191, 0);
    transition: 1.5s;
  }
  
  .input1{
    padding: 0.5vh;
    margin-right: 10px;
  }
  
  select {
    padding: 0.9vh;
    margin-right: 10px;
  }
  
  .divTable {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
  }
  
  .tb_item{
    margin-left: 1vwz;
  }
  
  table {
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    border-collapse: collapse;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 8px;
  }
  
  .icone i {
    font-size: 25px;
  }
  
  .bxs-chevron-up-circle {
    color: #00c94d;
  }
  
  .bxs-chevron-down-circle {
    color: #ff1500;
  }
  
  .bx-trash {
    color: #000000;
  }
  
  .bx-trash:hover {
    color: rgb(255, 0, 0);
  }

  .columnAmount,
  .columnType,
  .desc-descricao,
  .columnHorario,
  .columnValor,
  .columnType2,
  .columnAction {
    text-align: center;
  }
  
  button {
    background-color: #fea100;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0 15px;
    border-radius: 9px;
    cursor: pointer;
    height: 4vh;
  }
  
  .btn-confirmar:hover {
    background-color: #008000; /* Cor verde */
    color: #000000; /* Cor branca para o texto */
    cursor: pointer; /* Muda o cursor para uma mãozinha */
    transition: 1s;
  }
  
  .btn-cancelar:hover {
    background-color: #7d0000; /* Cor verde */
    color: #000000; /* Cor branca para o texto */
    cursor: pointer; /* Muda o cursor para uma mãozinha */
    transition: 1s;
  }
  
  .btn-editar:hover {
    background-color: #b000cb9e; /* Cor verde */
    color: #000000; /* Cor branca para o texto */
    cursor: pointer; /* Muda o cursor para uma mãozinha */
    transition: 1s;
  }
  
  .btn-excluir:hover {
    background-color: #c70000; /* Cor verde */
    color: #000000; /* Cor branca para o texto */
    cursor: pointer; /* Muda o cursor para uma mãozinha */
    transition: 1s;
  }
  
  .btn-acoes {
    padding: 0.3rem 0.8rem;
    background-color: #0055b1; /* Azul do Bootstrap */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.2rem;
    transition: 1.5s;
  }
  
  /* Estilos para as células da tabela */
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #9b9b9b;
  }
  
  /* Estilos para a linha do cabeçalho da tabela */
  th, td {
    background-color: #d3d3d3;
    font-weight: bold;
  }
  
  .container.mt-4.p-4.rounded.mb-4 {
    background-color: #dfdfdf;
  }
  
  .containerp1 {
    width: 100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  
  #page-container {
    position: relative;
    min-height: 100%;
  }
  
  #content-wrap {
    padding-bottom: 0.5rem;    /* altura do rodapé */
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  
    /*fallback height */
    min-height: 100vh;
  
    /* new small viewport height for modern browsers */
    min-height: 100svh;
    background-color: #dfdfdf;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 68%;
    height: 2,5rem;
    padding-bottom: 1rem;
  }
  
  .alinhamentoFooter {
    display: inline;
  }
  
  .bx-trash {
    transition: ease-in-out 0.5s;
  }