body {
    font-family: arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url("/image/pokemon.jpg");
    background-size: cover; /* Add this line for better background scaling */
    color: rgb(0, 0, 0); /* Make text white for better contrast */
}

header {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 2px solid white; /* Add a border for better visibility */
    background-color: rgba(0, 0, 0, 0.5); /* Make background semi-transparent */
    color: white; /* Make text white */
}

button {
    background-color: #ff9900b7;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 20px #ff0000aa;
    transition: 0.5s;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #d80000;
    color: #fff;
}

.pokemon-data {
    margin-top: 15px;
    height: auto;
    width: 500px;
    color: #fff;
    font-size: 25px;
    background-color: #000000cf;
    display: block;
    border-radius: 10px; /* Add rounded corners */
    padding: 3px 10px;
    margin-left: 470px;
}

.pokemon-data img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
}

p{
    text-align: left;
    padding-left: 20px;
}

ul > li{
    text-align: left;
}